body {
    margin: 0;
    font-family: 'Montserrat';
    text-align: center;
}

#title {
    background-color: #CDF0EA;
    text-align: left;
}

.codin {
    width: 100%;
}

.main-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.container-fluid {
    padding: 5% 15%;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-weight: bolder;
}

p {
    color: gray;
}

/* Navbar */

nav {
    margin-bottom: 8%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.dw_button {
    margin: 5% 3% 5% 0;
}

/* features */

#features {
    padding: 7% 15%;
    position: relative;
}

.ft {

    padding: 5%;
}

.icon {
    color: #54BAB9;
    margin-bottom: 1.5rem;
}

.icon:hover {
    color: #CDF0EA;
}

/* Testimonials */

#testimonials {


    background-color: #CDF0EA;
}

.carousel-item {
    padding: 7% 15%;
}

.me {
    width: 10%;
    border-radius: 100%;
    margin-right: 2%;
}

#press {
    background-color: #CDF0EA;

    padding-bottom: 6%;
}

.press-logo {
    width: 10%;
    margin: 10px 20px;
}

.beverly {
    width: 10%;
    border-radius: 100%;
    margin-right: 2%;
}

.testimonial-text {
    margin-bottom: 3%;
    font-size: 2.5rem;
}

/* pricing */

#pricing {
    padding: 100px;

    margin: 2%;
}

.price-col {
    padding: 3% 2%;
}



/* cta */

#cta {
    padding: 7% 15%;
    background-color: #CDF0EA;

    line-height: 1.5;
}

.cta-h3 {
    font-size: 3rem;
}

/* Footer */

#footer {
    padding: 2% 15%;


}

.footer-icon {
    margin: 2%;
    text-decoration: none;
    color: black;
}

@media (max-width: 900px) {
    #title {
        text-align: center;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    .cta-h3 {
        font-size: 1.75rem;
    }

    .pricing-text {
        font-size: 1.75rem;
    }

    .btn {
        font-size: 75%;
    }
}